.Layout{
    display:flex;
    flex-direction:column;
    position: absolute;
    width: 100%;
    height: 100%;
}
.Layout .block{
    flex: 1 1 auto;
}
.Layout .block div.body{

    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(135deg, rgb(18, 0, 49) 19%, rgb(111, 52, 195) 100%, rgb(0, 0, 0) 20%);
    background: -moz-linear-gradient(135deg, rgb(18, 0, 49) 19%, rgb(111, 52, 195) 100%, rgb(0, 0, 0) 20%);
    background: linear-gradient(135deg, rgb(18, 0, 49) 19%, rgb(111, 52, 195) 100%, rgb(0, 0, 0) 20%);
    color: antiquewhite;
}